// Style
@import "colors/ghost-spider.scss";

//////////////////////////////////////////////////////////////////

// Animations

@keyframes blink {
    to {
        background: $fg-wht;
        border-color: $fg-wht;
    }
}

@keyframes blink-update {
	to {
		background-color: $bg-upt;
        border-color: $bg-upt;
	}
}

/////////////////////////////////////////////////////////////////

.samarbar {
    font-family: $my-font;
    font-weight: $my-font-weight;
    font-size: $my-font-size;

    background-color: $bg-bar;
}

//////////////////////////////////////////////////////////////////

.workspaces {
    border-radius: 15px;
    background: $bg-wsp;
    border-color: $bg-wsp;
    transition: all 0.3s ease-in-out;
}

.ws-box {
    background: none;
    border: none;
    margin: 0px -1px;
    padding: 0px;
    &:hover {
        label {
            border-radius: 15px;
            min-width: 25px;
        }
    }
}

.ws-active, .ws-not-active {
    background: $bg-wsp-btn;
    border-color: $bg-wsp-btn;
    border-radius: 15px;
    margin: 6px 6px;
    padding: 3px 5px;
    transition: all 0.3s ease-in-out;

    label {
        color: $fg-wht;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        border-radius: 10px;
        min-width: 50px;
    }
}

.ws-active {
    background: $fg-wsp-btn;
    border-color: $fg-wsp-btn;
    border-radius: 15px;

    label {
        color: $bg-wsp-btn;
        font-size: 1em;
    }
}

//////////////////////////////////////////////////////////////////

.clock-btn, .bat-btn, .net-btn, .bat-btn-danger{
    border-radius: 15px;
    margin: 6px 6px;
    padding: 3px 10px;

    &:hover {
        border-radius: 10px;

    }
}

.tooltip {
    background-color: rgba(33, 40, 52, 0.55);
}

.date-box {
    background: $bg-clk-sld;
    border-color: $bg-clk-sld;
    border-radius: 15px;
    margin: 6px 6px;

    label {
        all: unset;
        color: $fg-clk-slid;
        padding: 0px 10px;
    }
}

.clock-btn {
    background: $bg-clk;
    border-color: $bg-clk;
    border-radius: 15px;
    margin: 0px;
    padding: 3px 0px;

    label {
        color: $fg-clk;
        padding: 3px 10px;
    }
}

.clock-box {
    background: none;
    border: none;
    border-radius: 15px;
}

//////////////////////////////////////////////////////////////////

.player {
    background: $bg-ply;
    border:none;
    border-radius: 15px;
    margin: 6px 6px;
    padding: 3px 15px;

    label {
        color: $fg-ply;
    }
}

.updates {
    background: none;
    border:none;
    border-radius: 15px;
    margin: 6px 6px;
    padding: 3px 10px;

    animation-name: blink-update;
	animation-duration: 3s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

    label {
        color: $fg-blk;
    }
}

.bright-box {
    background: $bg-ws;
    border-color: $bg-ws;
    border-radius: 15px;
    margin: 6px 6px;

    label {
        color: $fg-white;
    }
}

.bright-btn {
    background: $bg-bright;
    border-color: $bg-bright;
    border-radius: 15px;
    margin: 0px 0px;
    padding: 3px 10px;

    label {
        color: $fg-white;
    }
}

.bright-slid-box {
    background: none;
    border: none;
    border-radius: 15px;
    padding-right: 0px;
}

.bright-slid-box scale trough {
    all: unset;
    background-color: $bg-clock;
    border-radius: 50px;
    min-height: 11px;
    min-width: 100px;
}

.bright-slid-box scale trough highlight {
    all: unset;
    background-color: $bg-aud;
    border-radius: 10px;
}

/////////////////////////////////////////////////////

.net-box {
    background: $bg-clock;
    border-color: $bg-clock;
    border-radius: 15px;
    margin: 6px 6px;

    label {
        all: unset;
        color: $fg-white;
        padding: 0px 10px;
    }
}

.net-btn {
    background: $bg-net;
    border-color: $bg-net;
    border-radius: 15px;
    margin: 0px;
    padding: 3px 10px;

    label {
        font-family: "SauceCodePro Nerd Font";
        color: $fg-white;
        padding: 3px 10px;
    }
}

.net-slid-box {
    background: none;
    border: none;
    border-radius: 15px;
}

//////////////////////////////////////////////////////////////////

.aud-box {
    background: $bg-clock;
    border-color: $bg-clock;
    border-radius: 15px;
    margin: 6px 6px;

    label {
        color: $fg-white;
    }
}

.aud-btn {
    background: $bg-aud;
    border-color: $bg-aud;
    border-radius: 15px;
    margin: 0px 0px;
    padding: 3px 10px;

    label {
        color: $fg-black;
    }
}

.aud-btn-mute {
    background: $bg-aud-mute;
    border-color: $bg-aud-mute;
    border-radius: 15px;
    margin: 0px 0px;
    padding: 3px 10px;

    label {
        color: $fg-black;
    }
}

.aud-slid-box {
    background: none;
    border: none;
    border-radius: 15px;
}

.aud-slid-box scale trough {
    all: unset;
    background-color: $bg-ws;
    border-radius: 50px;
    min-height: 11px;
    min-width: 100px;
    margin: 0 5px;
}

slider {
    border: rgba(33, 40, 52, 0);
        background: none;
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
}



.aud-slid-box scale trough highlight {
    all: unset;
    background-color: $bg-bat;
    border-radius: 10px;
}

//////////////////////////////////////////////////////////////////

.bat-btn {
    background: $bg-bat;
    border-color: $bg-bat;

    label {
        color: $fg-white;
    }
}

.bat-btn-danger {
    background: $bg-urgent;
    border-color: $bg-urgent;
    color: $fg-black;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.bat-box {
    background: $bg-active-ws;
    border: $bg-active-ws;
    border-radius: 15px;
    margin: 6px 6px;
    padding: 3px 10px;
    &:hover {
        label {
            border-radius: 15px;
            min-width: 25px;
        }
    }
}

/////////////////////////////////////////////

.test {
    background: $bg-aud;
    border:none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 3px 10px;

    label {
        color: $fg-black;
    }
}

.container {
    background: none;
    border:none;
    border-radius: 15px;
    margin: 30px 30px;
    padding: 3px 10px;
}

.bg {
    background-image: url("colors/ghost-spider-bg.png");
	opacity: 1;
    background-size: 100% 100%;
}

.bg-filter {
    background: $bg-bar;
}

.dsh-clock {
    background: $bg-clock;
    border:none;
    font-size: 5em;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 3px 10px;

    label {
        color: $fg-white;
    }
}

.dsh-aud {
    background: none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 0px 0px;
    border:none;

    trough {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-ws;
        border-radius: 30px;
        min-height: 120px;
    }

    trough highlight {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-bat;
        border-radius: 30px;
    }

    trough slider {
        border: rgba(33, 40, 52, 0);
        background: none;
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }
}

.dsh-aud-sym, .dsh-bright-sym, .dsh-bat-sym, .dsh-wifi-sym {
    background: $bg-aud;
    border-radius: 30px;
    margin: 10px 10px;
    padding-left: 25px;
    border:none;
    font-size: 4em;
    background: none;
}

.dsh-bright-sym {
    color: $fg-black;
}

.dsh-bat-sym {
    padding-left: 17px;
    padding-bottom: 35px;
}

.dsh-bright {
    background: none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 0px 0px;
    border:none;

    trough {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-clock;
        border-radius: 30px;
        min-height: 120px;
    }

    trough highlight {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-aud;
        border-radius: 30px;
    }

    slider {
        border: rgba(33, 40, 52, 0);
        background: none;
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }
}

.dsh-bat {
    background: none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 0px 0px;
    border:none;

    trough {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-clock;
        border-radius: 30px;
        min-width: 150px;
        border: $bg-clock;
    }

    trough progress {
        all: unset;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: $bg-ws;
        border-radius: 30px;
        min-width: 150px;
    }
}

.dsh-wifi {
    background: $bg-ws;
    border:none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 3px 10px;
}

.dsh-wifi-sym {
    color: $bg-aud;
    padding-left: 5px;
}

.dsh-wifi-name {
    background: none;
    font-size: 2em;
    padding-left: 30px;
    font-weight: bold;
}

.dsh-player {
    background: $bg-player;
    border:none;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 3px 10px;
}

.dsh-player-name {
    color: $fg-player;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
}



//DEBUG COLOR BOXES
/*
.up {
    background: red;
}
.up-left {
    background: blue;
}
.up-right {
    background: yellow;
}

.down {
    background: green;
}
.down-right {
    background: purple;
}
.down-left {
    background: orange;
}

.a {
    background: brown;
}
.b {
    background: darkblue;
}
.c {
    background: cyan;
}
.d {
    background: grey;
}
.e {
    background: goldenrod;
}
.f {
    background: darkmagenta;
}
.g {
    background: darkseagreen;
}
.h {
    background: lightsalmon;
}
.j {
    background: pink;
}
*/




// REFACTOR THE CODE !!!

