
@font-face { 
    font-family: "Latina Essential"; 
    src: url("LatinaEssential-Medium.ttf"); 
}

* {
    font-family: "Latina Essential";
    margin: auto;
    min-width: 300px;
    --main-bg: #141D5F;
    --second-bg: #88B43C;
    --light-fg: #F1ECD2;
    --dark-fg: #161617;
}

body {
    background-color: var(--main-bg);
    color: var(--light-fg);
    text-align: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: var(--second-bg);
    color: var(--dark-fg);
    border-radius: 15px;
    margin: 6px 30%;
    margin-bottom: 3%;
    padding: 5px 10px;
}

main {
    width: 30%;
    background-color: var(--second-bg);
    color: var(--dark-fg);
    border-radius: 15px;
    border: none;
    align-items: center;
}

legend {
    display: block;
    border: none;
    border-radius: 15px;
    background-color: var(--dark-fg);
    color: var(--second-bg);
    margin-top: 20px;
    padding: 3px 10px;
}


fieldset {
    width: 80%;
    align-items: start;
    border: none;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: var(--light-fg);
    display: inline-block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
  }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: var(--main-bg);
    color: var(--light-fg);
    outline: none;
}
  
input[type=submit] {
    width: 100%;
    background-color: var(--dark-fg);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--main-bg);
    color: var(--light-fg);
}

.backdrop{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backdrop div{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(183, 196, 171, 0.2);
    animation: backdrop-animation 25s linear infinite;
    bottom: -150px;
    
}

.backdrop div:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.backdrop div:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.backdrop div:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.backdrop div:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.backdrop div:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.backdrop div:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.backdrop div:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.backdrop div:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.backdrop div:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.backdrop div:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes backdrop-animation {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


    