a:link { color:#333542; text-decoration:none; } /* unvisited link */ 
a:visited { color:#97153C; text-decoration:none; } /* visited link */ 
a:hover { color:#8E8ACE; text-decoration:underline; } /* mouse over link */

@font-face { font-family: "Latina Essential"; 
             src: url("res/LatinaEssential-Medium.ttf"); }


* {
    font-family: "Latina Essential";
    max-width: 1080px;
    margin: auto;
}

body {
    border-radius: 15px;
    background:
    radial-gradient(25% 25% at 25% 25%,#1c4c4e 99%,#0000 101%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(25% 25% at 25% 25%,#1c4c4e 99%,#0000 101%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(50% 50%,#379599 98%,#0000) 0 0/32px 32px,
    repeating-conic-gradient(#379599 0 25%,#1c4c4e 0 50%) 
      calc(.5*32px) 0/calc(2*32px) 32px;
}

.main-container {
    background-color: #1C4C4E;
    border-radius: 15px;
    padding: 20px 20px;
}

.nav-bar {
    background-color: #97153C;
    margin: 6px 6px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 15px;
}

.nav-btn, .main-text{
    background-color: #F1ECD2;
    border-radius: 15px;
    padding: 5px 10px;
    
}

.main-title {
    background: none;
    text-align: center;
    color: #F1ECD2;
    font-size: 3em;
    margin: 6px 6px;
    padding: 3px 5px;
}

.main-sec {
    background-color: #97153C;
    border-radius: 15px;
    padding: 5px 10px;
}

.small-title {
    padding: 5px 10px;
    text-align: center;
    font-size: 2em;
}

.main-text {
    background-color: #F1ECD2;
}