a:link { color:#333542; text-decoration:none; } /* unvisited link */ 
a:visited { color:#97153C; text-decoration:none; } /* visited link */ 
a:hover { color:#8E8ACE; text-decoration:underline; } /* mouse over link */

@font-face { font-family: "Latina Essential"; 
             src: url("res/LatinaEssential-Medium.ttf"); }


* {
    font-family: "Latina Essential";
    max-width: 1080px;
    margin: auto;
    /*
    CAMBIARE COLOR SCHEME
    */
    --main-bg: #1C4C4E;
    --second-bg: #97153C;
    --light-fg: #F1ECD2;
}

body {
    border-radius: 15px;
    background:
      radial-gradient(25% 25% at 25% 25%,#163334 99%,#0000 101%) 38px 38px/calc(2*38px) calc(2*38px),
      radial-gradient(25% 25% at 25% 25%,#163334 99%,#0000 101%) 0 0/calc(2*38px) calc(2*38px),
      radial-gradient(50% 50%,#75122f 98%,#0000) 0 0/38px 38px,
      repeating-conic-gradient(#75122f 0 25%,#163334 0 50%) 
        calc(.5*38px) 0/calc(2*38px) 38px;

}

.main-container {
    background-color: var(--main-bg);
    border-radius: 15px;
    padding: 20px 20px;
}

.nav-bar {
    background-color: var(--second-bg);
    margin: 6px 6px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 15px;
}

.nav-btn, .main-text{
    background-color: var(--light-fg);
    border-radius: 15px;
    padding: 5px 10px;
    
}

.img1 {
    margin: auto;
}

.main-title {
    background: none;
    text-align: center;
    color: var(--light-fg);
    font-size: 3em;
    margin: 6px 6px;
    padding: 3px 5px;
}

.main-sec {
    background-color: var(--second-bg);
    border-radius: 15px;
    padding: 5px 10px;
}

.small-title {
    padding: 5px 10px;
    text-align: center;
    font-size: 2em;
    color: var(--light-fg);
}

.main-text {
    background-color: var(--light-fg);
}

.main-footer {
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px 15px 0px 0px; 
    background-color: var(--second-bg);
    color: var(--light-fg);
}