
// Font ------------------------------------------------------------------------------
$my-font:"SF Pro Rounded", "FontAwesome";
$my-font-weight: bold;
$my-font-size: 1em;

// Palette ---------------------------------------------------------------------------

$bg-bar:     rgba(207, 94, 84, 0.336);
$fg-wht:     #FFFFFF;
$fg-blk:     #000000;

$fg-clk:     #7D95E2;
$bg-clk:     #7D95E2;
$bg-clk-sld: #7D95E2;

$bg-wsp:     #483565;
$fg-wsp-btn: #483565;
$bg-wsp-btn: #483565;

$fg-ply:     #2A5C45;
$bg-ply:     #66CC99;

$fg-upt:     #9FB935;
$bg-upt:     #9FB935;

$fg-brg:     #44578B;
$bg-brg:     #44578B;
$bg-brg-sld: #FFF0F5;
$fg-brg-bar: #FFF0F5;
$bg-brg-bar: #FFF0F5;

$fg-aud:     #FFF0F5;
$bg-aud:     #FFF0F5;
$bg-aud-sld: #FFF0F5;
$fg-aud-bar: #FFF0F5;
$bg-aud-bar: #FFF0F5;
$bg-aud-mut: #B886AB;

$fg-bat:     #1D2662;
$bg-bat:     #1D2662;

$fg-net:     #AC1F51;
$bg-net:     #AC1F51;
$bg-net-sld: #AC1F51;

$bg-mut:     #B886AB;
$bg-urg:     #FE021A;