
//    Palette   // -------------------------------------------------------------------------------

$bg-bar:      rgba(88, 9, 34, 0.7);
$fg-wht:      #FFFFFF;
$fg-blk:      #000000;

$color1:      #38518C;
$color2:      #2A2350;
$color3:      #cdd6f4;
$color4:      #FFF0F5;
$color5:      #C33161;
$color6:      #C52A46;
$color7:      #B886AB;
$color8:      #9FB935;
$color9:      #66CC99;
$color010:    #2A5C45;
$color011:    #FE021A;