
//    Palette   // -------------------------------------------------------------------------------

$bg-bar:      rgba(14, 25, 37, 0.7);

$fg-wht:      #FFFFFF;
$fg-blk:      #000000;

$color1:      #8A0C3C;
$color2:      #282341;
$color3:      #e7e5c7;
$color4:      #E5EBE2;
$color5:      #bc2d69;
$color6:      #39335E;
$color7:      #7D2B60;
$color8:      #2B6982;
$color9:      #66CC99;
$color010:    #2A5C45;
$color011:    #FE021A;

//      Font     // -------------------------------------------------------------------------------

$my-font:"SF Pro Rounded", "FontAwesome";
$my-font-weight: bold;
$my-font-size: 1em;

// Associations // -------------------------------------------------------------------------------
