/*

8888888b.           .d888 d8b 
888   Y88b         d88P"  Y8P 
888    888         888        
888   d88P .d88b.  888888 888 
8888888P" d88""88b 888    888 
888 T88b  888  888 888    888 
888  T88b Y88..88P 888    888 
888   T88b "Y88P"  888    888 
                              
*/                            
                              



configuration {
  display-drun: "Applicazioni:";
  font: "SauceCodePro Nerd Font Mono Bold 11";
}

@theme "rounded/ghost-spider.rasi"