

$fg-clk:      $fg-wht;
$bg-clk:      $color1;
$fg-clk-sld:  $fg-wht;
$bg-clk-sld:  $color6;

$bg-wsp:      $color6;
$fg-wsp-btn:  $color3;
$bg-wsp-btn:  $color2;

$fg-ply:      $color010;
$bg-ply:      $color9;

$fg-upt:      $fg-blk;
$bg-upt:      $color8;

$fg-lum:      $fg-wht;
$bg-lum:      $color1;
$bg-lum-sld:  $color6;
$fg-lum-bar:  $fg-wht;
$bg-lum-bar:  $color1;

$fg-aud:      $fg-blk;
$bg-aud:      $color4;
$bg-aud-sld:  $color1;
$fg-aud-bar:  $color2;
$bg-aud-bar:  $color6;

$fg-aud-mut:  $fg-blk;
$bg-aud-mut:  $color7;

$fg-bat:      $fg-wht;
$bg-bat:      $color2;

$fg-net:      $fg-wht;
$bg-net:      $color5;
$fg-net-sld:  $fg-wht;
$bg-net-sld:  $color1;

$bg-mut:      $color7;
$bg-urg:      $color011;